{{=<% %>=}}
<script src="https://unpkg.com/vue/dist/vue.js"></script>

<div id="app">
    <table>
        <thead>
            <tr>
                <td></td>
                <td>Difficulté</td>
                <td>Exécution</td>
                <td>Pénalité</td>
                <td>Bonus</td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(grade, index) in notation" :id="index">
                <td>{{grade.judge.name}}</td>
                <td><input data-grade="difficulty" v-on:keyup="updateNotation" :value="grade.difficulty"></td>
                <td><input data-grade="execution" v-on:keyup="updateNotation" :value="grade.execution"></td>
                <td><input data-grade="penalty" v-on:keyup="updateNotation" :value="grade.penalty"></td>
                <td><input data-grade="bonus" v-on:keyup="updateNotation" :value="grade.bonus"></td>
            </tr>
            <tr>
                <td></td>
                <td>{{totals.difficulty}}</td>
                <td>{{totals.execution}}</td>
                <td>{{totals.penalty}}</td>
                <td>{{totals.bonus}}</td>
            </tr>
        </tbody>
    </table>
    <button v-on:click="submitNotation">Valider la notation</button>
</div>

<script type="text/javascript">
    var notEmpty = function(notation) {
        return notation.difficulty || notation.execution || notation.penalty || notation.bonus
    }
    var computeTotal = function(notation, grade) {
        return notation
            .map(function(curr) { return curr[grade] || "0" })
            .map(function(curr) { return curr.replace(',', '.') })
            .map(function(curr) { return parseFloat(!isNaN(curr) ? curr : 0) })
            .reduce(function(prev, curr) {
                return prev + curr
            }, 0) / notation.filter(notEmpty).length
    }
    // window.onload = function() {
        var app = new Vue({
            el: '#app',
            methods: {
                updateNotation(event) {
                    var col = event.target.getAttribute('data-grade')
                    var line = event.target.parentNode.parentNode.getAttribute('id')
                    var grade = event.target.value
                    this.notation[line][col] = grade
                    this.totals.difficulty = computeTotal(this.notation, 'difficulty')
                    this.totals.execution = computeTotal(this.notation, 'execution')
                    this.totals.penalty = computeTotal(this.notation, 'penalty')
                    this.totals.bonus = computeTotal(this.notation, 'bonus')
                },
                submitNotation() {
                    var corps = new FormData()
                    corps.append('json', JSON.stringify(this.totals))

                    var options = {
                        method: 'POST',
                        headers: new Headers(),
                        mode: 'cors',
                        cache: 'default',
                        body: corps
                    }

                    fetch('/api/notation/<% competition %>/<% member %>/<% rigging %>', options)
                        .then(function() { document.location = '/competition/<% competition %>' })
                }
            },
            data: {
                notation: [
                    {
                        judge: {name: "Juge 1"}
                    },
                    {
                        judge: {name: "Juge 2"}
                    },
                    {
                        judge: {name: "Juge 3"}
                    },
                    {
                        judge: {name: "Juge 4"}
                    }
                ],
                totals: {
                    difficulty: 0,
                    execution: 0,
                    penalty: 0,
                    bonus: 0
                }
            }
        })
    // }
</script>
<%={{ }}=%>
